*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 200px;
    background-image: url('bg-stars.svg');
    background-color: rgb(66, 19, 66);
}
.bg-add
{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url('pattern-hills.svg');
    background-size: cover;
    height: 200px; */

}
.bg-add .pc{
    width: 100%;
}
.content
{
    width: 80%;
}
.content-heading
{
    color: white;
    text-transform: uppercase;
    width: 80%;
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 30px;
}
.parent
{
    background-color: rgb(48, 2, 48);
    height: 205px;
    width: 200px;
    position: relative;
}
.ch1
{
    height: 100px;
    width: 100%;
    background-color: rgb(34, 15, 34);
    border-bottom: 2px solid rgb(48, 2, 48);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ch2
{
    height: 100px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-left-radius:  10px;
    border-top: 2px solid  rgb(48, 2, 48);
    background-color: rgb(34, 15, 34);
}
.txt
{
    position: absolute;
    bottom: 30%;
    left: 30%;
    font-size: 80px;
    color: magenta;
}
.flex-r
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-div
{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
 .footer
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 1;
} 

@media (max-width:740px) {
    body
    {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex-r
    {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .bg-add
    {
        width: 100%;
        position: relative;
    }
    .bg-add .pc
    {
        width: 100%;
    }
    .footer
    {
        bottom: 0;

    }

}